In [3]:
double = lambda x: x*2
print(double(5))

10

In [2]:
def double(x):
  return x*2

print(double(5))

10

In [4]:
# example use with filter()
lst = [1,2,3,4,5]
even_lst= list(filter(lambda x: (x%2 == 0), lst))
print(even_lst)

[2, 4]

In [5]:
# example use with map()
llst = [1,2,3,4,5]
new_lst = list(map(lambda x: x**2, lst))
print(new_lst)

[1, 4, 9, 16, 25]

In [1]:
# example use with reduce()
from functools import reduce
lst = [1,2,3,4,5]
product_lst = reduce(lambda x, y: x*y, lst)
print(product_lst)

120