In [1]:
numbers = [1,2,3,4]
for num in numbers:
  if num ==4:
    break
  print(num)
else:
  print("in the else block")
print("Outside of for loop")

1
2
3
Outside of for loop

In [4]:
# to check whether a number is prime or not
num = int(input(" Enter a number:"))

isDivisible = False

i=2
while i<num:
  if num%i==0:
    isDivisible = True
    print("{} is divisible by {}".format(num,i))
    break
  i +=1
if isDivisible:
  print("{} is not a prime number". format(num))
else:
  print("{} is a prime number". format(num))

 Enter a number:18
18 is divisible by 2
18 is not a prime number

In [5]:
# print odd numbers present in a list
numbers= [1,2,3,4,5,6,7]
for num in numbers:
  if num%2==0:
    continue
  print(num)
else:
  print("else block")

1
3
5
7
else block

In [6]:
# tuple
t = ()

In [8]:
t=(1,2,3)
print(t)

(1, 2, 3)

In [10]:
# tuple with mixed datatype
t=(1,'raju',28,'abc')
print(t)

(1, 'raju', 28, 'abc')

In [12]:
# nested tuple
t=(1,(2,3,4),[1,'raju',28,'abc'])
print(t)

(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [13]:
# only parenthesis is not enough
t = ('satish')
type(t)

str

In [14]:
# need a comma at the end
t = ('satish',)
type(t)

tuple

In [15]:
# parenthesis is optional
t = 'satish',
print(type(t))

<class 'tuple'>

In [16]:
# accessing elements in a tuple
t = ('satish','murali','naveen','brahma')
print(t[1])

murali

In [17]:
# negative index
print(t[-1])

brahma